* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F0E7D5;
}

.navbar {
    width: 100%;
    height: 8vh;
    background-color: #212842;
    padding-top: 15px;
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    color: #F0E7D5;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #161c30;
}

#me {
    background-color: #161c30;
}

.portofolio {
    position: absolute;
    color: #F0E7D5;
    font-family: Arial, Helvetica, sans-serif;
    left: 50px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px; /* space between image and text */
    margin-top: 40px;
    background-color: #212842;
    position: relative;
}

.cat {
    width: 40vw; /* adjust as needed */
    height: auto;
    border-radius: 16px;
    margin-left: 40px;
    transition: 0.3s ease-in-out;
}

.cat:hover {
    transform: scale(1.05) translateY(-20px);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.about-text {
    max-width: 500px;
    font-family: 'Arial', sans-serif;
    color: #F0E7D5;
}